  *{
    margin: 0;
    padding: 0;
  }
        .clearfix
        {
          display: flex;
          align-items: center;
          background-color: rgb(224, 233, 241);
          height: 35px;
          padding-left: 15%;
          z-index: 1;
        }
        .info{
            display:flex;
            justify-content:space-between;
            z-index: 1;
        }
        .logo_container
        {
          display: flex;
          height: 90px;
          align-items: center;
          justify-content:space-around;
          
          background-color: white;
          z-index: 1;
        }
        .dropbtn {
            background-color: white;
            color:rgb(70, 67, 67);
            padding: 15px;
            font-size: 15px;
            border: none;
        }
        .dropbtn:hover{
            opacity: 0.7;
        }

.dropdown {
  display:flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
  
}

.dropdown-content a {
  color: rgb(61, 60, 60);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}
.mid1{
    height: 550px;
    width: 100%;
    border: 1px;
    text-align: center;
    color: rgb(143, 136, 136);
    padding: 10px;

}
.Iot_image{
  padding-top: 50px;
  padding-left: 300px;
  display:flex;
  
}
.right{
  padding-top:2%;
  width: 450px;
  padding-right: 25%;
}
.left{
  display: flex;
  position: relative;
  left: 53%;
  top: 35%;
  flex-wrap: wrap;
    align-content: center;
}
.inner_mid1{
    padding-top: 100px;
    display: flex;
    padding-left: 50px;
    padding-right: 40px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.mid2{
    display: flex;
    width: 100%;
    background-color: rgb(214, 214, 214);
    justify-content: space-evenly;
    left: 10%;
    flex-wrap: wrap;
    align-content: center;
}
.inner_mid2{
  margin-top: 20px;
  justify-content: space-around;
  
}
.inner2_mid2{
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
    align-content: center;
  
}
.mid3{
    padding-top: 30px;
    border: 1px;
    text-align: center;
    color: rgb(59, 57, 57);
}

.mid4{
  margin-left: 11%;
  margin-right: 11%;
  display:flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
    align-content: center;
}
#h4_bg
{
  text-align: center; 
  color: rgb(256, 256, 256);
}
.column {
  margin: 30px;
  float: left;
  display: flex;
  width: 33.33%;
  background-image: url('bgimg.jpg');
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    align-content: center;
}
.mid5{
  height: 500px;
  width: 100%;
  text-align: center;
  background-color:#182a4b!important;
  color: white;
}
.mid6{
  height: 500px;
  width: 50%;
  }
  .mid7{
    height: 350px;
  }
  .inner_mid7{
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    background-color: #182a4b;
  }
  .in_mid7{
    display: flex;
    background-color: white;
    height: 35%;
    width: 14%;
    margin-left:3%;
    margin-top: 3%;
    float: left;
    justify-content: center;
    align-items: center;
    color:black;
    flex-wrap: wrap;
    align-content: center;
  }
  .mid8{
    height: 600px;width: 100%; 
    display: flex; 
    background-image: url(bee-bcakground.png),linear-gradient(68deg,#113569 0%,#492b67 100%);
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-content: center;
  }
  .inner_mid8{
    width: 50%; 
    height: 600; 
    padding-bottom: 50px;
    padding-top: 5%;
  }
  .mid9{
    display: flex;
    height:min-content;
    margin-bottom: 5%;
    flex-wrap: wrap;
    align-content: center;
  }
  .end{
    display: flex;
    height: 60px;
    background-color: #182a4b;
    color: white;
    flex-wrap: wrap;
    align-content: center;
  }
  .fa {
    padding-top: 20px;
    padding-right: 15px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }




